/* src/components/SearchInput.module.css */
.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.searchIcon {
  position: absolute;
  left: 0.75rem;
  color: #888;
}

.searchInput {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Padding trái để nhường chỗ cho icon */
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
}