.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.itemRow {
  display: flex;
  gap: 0.5rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
